/*****************======================================================*****************
                                    CUSTOM STYLES STYLESHEET
                                            V1.0.0
******************======================================================******************/



/*=========================================================================
                                        GENERAL STYLES
===========================================================================*/
html, body {
  height: 100%;
}

body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
}

.cards {
  padding: 0.5rem 1.5rem;
  margin: 0.5rem 0;
}

@media screen and (min-width: 800px) {

}