<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Hacker-News</title>
        <link href="./styles.css" rel="stylesheet">
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Hacker-News</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="root">
            <div class="hackernews--container">
                <div class="row">
                    <div class="container search--form">
                        <form class="form-inline conversion--form">
                            <div class="form-group mx-sm-2">
                                <label for="input--value" class="sr-only">Currency Value</label>
                                <input id="input--value" class="form-control" type="text" value="1">
                            </div>
                            <div class="form-group mr-sm-2">
                                <label for="first-currency" class="sr-only">From</label>
                                <select name="first-currency" class="custom-select" id="first-currency">
                                    <option selected>Choose Currency...</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="to--label">To</label>
                            </div>
                            <div class="form-group mr-sm-2">
                                <label for="second-currency" class="sr-only">Source</label>
                                <select name="second-currency" class="custom-select mr-sm-2" id="second-currency">
                                    <option selected>Choose Currency...</option>
                                </select>
                            </div>
                            <button id="submit-btn" type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>

                <div class="row">
                    <div class="container mt-5 px-3 text-center">
                        Conversion Result
                        <div class="results--container">
                            Value
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="./bundle.js"></script>
    </body>
</html>
